{% extends 'loggedin.html.twig' %}
{% block body %}
    <div class="container account" >
        {% if app.user.firstname %}
            <h1 class="text-center">Welcome {{ app.user.firstname}}!</h1>
        {% endif %}
        {% if todoLists is not empty %}
            <h3 class="text-center">You have following todo lists:</h3>



            <table id="report" class="dataTable" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th id="table_name">Name</th>
                    <th id="created_at">Created at</th>
                    <th>Number of tasks</th>
                    <th>Incomplete tasks</th>
                    <th>Completed [%]</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {%for list in todoLists %}
                    {% set numberNotCompleted = 0 %}
                    {% set length = list.getTasks|length %}
                    {% if  list.getTasks is not empty %}
                        {%for task in list.getTasks %}
                            {% if not task.getIsCompleted %}
                                {%  set numberNotCompleted= numberNotCompleted+1 %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if  list.getTasks is not empty %}
                        {% set completed = (list.getTasks|length-numberNotCompleted)/list.getTasks|length *100%}
                    {% endif %}
                    <tr class="master">
                        <td class="id_list"> {{ list.id}}</td>
                        <td> {{ list.name }}</td>
                        <td>{% if list.getCreatedAt %}{{ list.getCreatedAt|localizeddate('short', 'short') }}{% endif %}</td>
                        <td>{{ list.getTasks|length }}</td>
                        <td>{{ numberNotCompleted }}</td>
                        <td>{{ completed }} %</td>
                        <td><button class="btn btn-danger delete-list">Delete List</button><button class="btn btn-success add-task">Add Task</button></td>

                    </tr>
                    <tr>
                        <td class="tasks-table" colspan="7">
                            <table  class="dataTable tasks-table" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Priority</th>
                                    <th>Deadline</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%for task in list.getTasks %}
                                    {% if task is not empty %}
                                    <tr class="tasks-table">
                                        <td class="id"> {{ task.id }}</td>
                                        <td class="name"> {{ task.name }}</td>
                                        <td>{{ task.priority }}</td>
                                        <td>{{ task.deadline| localizeddate('long', 'short') }}</td>
                                        <td class="status">{% if task.getIsCompleted %} Completed  {% else %} Not completed {% endif %}</td>
                                        <td><button class="btn btn-danger delete-task">Delete Task</button><button class="btn btn-info edit-task">Edit Task</button> {% if not task.getIsCompleted %} <button class="btn btn-success complete-task">Complete Task</button>{% endif %}</td>

                                    </tr>
                                    {% endif %}


                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="infos">

            </div>




            {% else %}
                <h4>You have no todo Lists!</h4>
            {% endif %}

        <div class="container options">

            <a href="/dashboard/add"><button class="btn btn-success">Add new TODO list</button></a><br>
            <a href="{{ path('logout') }}" class="btn btn-primary">Logout</a>


            <div id="addTask" class="container forma">
                <form   action="" method="post" >

                    <h5>New Task</h5>
                    <hr>
                    <div class="form-group">
                        <label for="task_name">Task name: </label>
                        <input class="form-control"  id="task_name" name="taskName'" required/>
                    </div>
                    <div class="form-group">
                        <label>Task priority:</label>
                        <select name="priority" class="priority">
                            <option  id="priority1" name="priority1" value="high" selected >High</option>
                            <option  id="priority2" name="priority2 "value="normal">Normal</option>
                            <option  id="priority3" name="priority3" value="low">Low</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="deadline">Deadline: </label>
                        <input class="form-control deadline"  id="deadline" name="deadline" type="date" />
                    </div>
                    <input type="submit" id="task_add" name="task_add" value="Add Task" class="btn btn-success ">
                    </form>
            </div>

        </div>

        <form id="editTask"  action="" method="post" >

            <h5>Edit Task</h5>
            <hr>
            <div class="form-group">
                <label for="task_name">Task name: </label>
                <input class="form-control task-name"  id="task_name" name="taskName'" required/>
            </div>
            <div class="form-group">
                <label>Task priority:</label>
                <select name="priority" class="priority">
                    <option  id="priority1" name="priority1" value="high" selected >High</option>
                    <option  id="priority2" name="priority2 "value="normal">Normal</option>
                    <option  id="priority3" name="priority3" value="low">Low</option>
                </select>
            </div>
            <div class="form-group">
                <label for="deadline">Deadline: </label>
                <input class="form-control deadline"  id="deadline" name="deadline" type="date" />
            </div>
            <input type="submit" id="task_edit"  value="Edit Task" class="btn btn-success">
        </form>
    </div>

{% endblock %}