{% extends 'loggedin.html.twig' %}
{% block body %}
    <div class="container account" >
        {% if app.user.firstname %}
            <h1 class="text-center">Welcome {{ app.user.firstname}}!</h1>
        {% endif %}
        {% if todoLists is not empty %}
            <h3 class="text-center">You have following todo lists:</h3>

                {% set numberNotCompleted = 0 %}

            <table id="report" class="dataTable" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Created at</th>
                    <th>Number of tasks</th>
                    <th>Incomplete tasks</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {%for list in todoLists %}
                    <tr class="master">
                        <td class="id_list"> {{ list.id}}</td>
                        <td> {{ list.name }}</td>
                        <td>{% if list.getCreatedAt %}{{ list.getCreatedAt|localizeddate('short', 'short') }}{% endif %}</td>
                        <td>{{ list.getTasks|length }}</td>
                        <td>{{ numberNotCompleted }}</td>
                        <td><button class="btn btn-danger delete-list">Delete List</button><button class="btn btn-success add-task">Add Task</button></td>

                    </tr>
                    <tr>
                        <td class="tasks-table" colspan="6">
                            <table  class="dataTable tasks-table" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Priority</th>
                                    <th>Deadline</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%for task in list.getTasks %}
                                    {% if not task.getIsCompleted %}
                                        {%  set numberNotCompleted= numberNotCompleted+1 %}
                                    {% endif %}
                                    {% if task is not empty %}
                                    <tr class="tasks-table">
                                        <td class="id"> {{ task.id }}</td>
                                        <td class="name"> {{ task.name }}</td>
                                        <td>{{ task.priority }}</td>
                                        <td>{{ task.deadline| localizeddate('long', 'short') }}</td>
                                        <td>{% if task.getIsCompleted %} Completed  {% else %} Not completed {% endif %}</td>
                                        <td><button class="btn btn-danger delete-task">Delete Task</button><button class="btn btn-info edit-task">Edit Task</button></td>

                                    </tr>
                                    {% endif %}

                       {# <ul class="text-center">
                            <li> Task: {{ task.name }}</li><br>
                            <li>Priority: {{ task.priority }}</li><br>
                            <li>Deadline: {{ task.deadline| localizeddate('long', 'short') }}</li><br>
                            <li>Status: {{ task.getIsCompleted }}</li><br>
                        </ul>
                        <button class="delete">Delete Task</button>#}
                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="infos">

            </div>


{#
                    {%for list in todoLists %}
                        <div class="container well info">
                        <div class="subjects">
                            <ul class="text-center">
                                <li>Todo List: {{ list.name }}</li><br>
                                <li>Created at: {{ list.getCreatedAt| localizeddate('short', 'short') }}</li><br>
                                <li>Number of taks: {{ list.getTasks|length }}</li><br>
                                <li>Number of not completed taks: {{ numberNotCompleted }}</li>
                        <button class="btn btn-danger">Delete List</button>
                        <hr>

                            {%for task in list.getTasks %}
                                {% if not task.getIsCompleted %}
                                    {%  set numberNotCompleted= numberNotCompleted+1 %}
                                {% endif %}
                                <div class="tasks">
                                    <div>
                                            <ul class="text-center">
                                                <li> Task: {{ task.name }}</li><br>
                                                <li>Priority: {{ task.priority }}</li><br>
                                                <li>Deadline: {{ task.deadline| localizeddate('long', 'short') }}</li><br>
                                                <li>Status: {{ task.getIsCompleted }}</li><br>
                                            </ul>
                                            <button class="delete">Delete Task</button>
                                <hr>
                                    </div>
                                </div>
                                        </ul>
                                    </div>
                                </div>
                    {% endfor %}


                    {% endfor %}#}

            {% else %}
                <h4>You have no todo Lists!</h4>
            {% endif %}

        <div class="container options">

            <a href="/dashboard/add"><button class="btn btn-default">Add new todo list</button></a><br>
            <a href="{{ path('logout') }}">Logout</a>
            <div id="addTask" class="container forma">
                <form   action="" method="post" >

                    <h5>New Task</h5>
                    <hr>
                    <div class="form-group">
                        <label for="task_name">Task name: </label>
                        <input class="form-control"  id="task_namez" name="taskName'" />
                    </div>
                    <div class="form-group">
                        <label>Task priority:</label>
                        <select name="priority">
                            <option  id="priority1" name="priority1" value="high" selected >High</option>
                            <option  id="priority2" name="priority2 "value="normal">Normal</option>
                            <option  id="priority3" name="priority3" value="low">Low</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="deadline">Deadline: </label>
                        <input class="form-control"  id="deadline" name="deadline" type="date" />
                    </div>
                    <input type="submit" id="task_add" name="task_add" value="Add Task" class="btn btn-success">
                    </form>
            </div>

        </div>

        <form id="editTask"  action="" method="post" >

            <h5>New Task</h5>
            <hr>
            <div class="form-group">
                <label for="task_name">Task name: </label>
                <input class="form-control task-name"  id="task_name" name="taskName'" />
            </div>
            <div class="form-group">
                <label>Task priority:</label>
                <select name="priority">
                    <option  id="priority1" name="priority1" value="high" selected >High</option>
                    <option  id="priority2" name="priority2 "value="normal">Normal</option>
                    <option  id="priority3" name="priority3" value="low">Low</option>
                </select>
            </div>
            <div class="form-group">
                <label for="deadline">Deadline: </label>
                <input class="form-control"  id="deadline" name="deadline" type="date" />
            </div>
            <input type="submit" id="task_edit" name="task_add" value="Edit Task" class="btn btn-success">
        </form>
    </div>

{% endblock %}